@media screen and (max-device-width: 600px) {
    .banner {
        font-size: 2.5em;
        padding: 0.05em;
        align-items: center;
    }

    #content {
        background-position:center;
    }

    #logo {
        margin-right:0;
    }

    #links {
        font-size: 2.5em;
    }

    .button {
        width: 40%;
        font-size: 3em;
        padding: 1em 0.5em 1em 0.5em;
        vertical-align: middle;
    }
  }

